:root {
    --letras: 'Inter', sans-serif;
    --white: #fffdfa;
    --Gray-blue: #c5c6ce;
    --Dark-gray-blue: #5d5f79;
    --Very-dark-blue: #00001a;
    --orange: #e9ab53;
    --red: #f15e50;
}

body {
    font-family: var(--letras);
}

a {
    text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
}

.general {
    width: auto;
    margin-left: 150px;
    margin-right: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cabecera {
    margin-top: 50px;
}

.container {
    display: flex;
}

.container,
menu {
    justify-content: space-between;
}

.menu,
ul {
    list-style: none;
}

.menu ul li a {
    color: var(--Dark-gray-blue);
}

.menu a:hover {
    color: var(--red);
}

.menu,
li {
    font-size: 15px;
    display: inline-flex;
    margin-top: 0.5%;
    justify-content: center;
    padding-left: 40px;
    padding-right: 10px;
}

.content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.button{
    display: none;
}

.conten1 {
    display: flex;
    flex-direction: column;
    width: 62%;
}

.imgP {
    width: auto;
    height: 300px;
    margin-top: 5%;
    overflow: hidden;
}

.imgP img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.parrafo {
    margin-top: 4%;
    display: flex;
    gap: 5%;
}

.p1 {
    width: 50%;
    font-family: var(--letras);
    font-weight: 800;
    font-size: 50px;
}

.p2 {
    width: 50%;
    height: auto;
    text-align: left;
    font-size: 15px;

}

.p2 p {
    font-weight: 400;
    font-size: 15px;
    color: var(--Dark-gray-blue);
}

.ButtonR a {
    color: var(--white);
    background-color: var(--red);
    text-align: center;
    width: 50%;
    height: 35px;
    margin-top: 14%;
    display: grid;
    place-items: center;
    font-family: var(--letras);
    letter-spacing: 2px;
    font-size: 15px;
}

.ButtonR a:hover {
    color: var(--white);
    width: 50%;
    height: 35px;
    text-align: center;
    display: grid;
    place-items: center;
    background-color: var(--Very-dark-blue);
}

.new {
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 2%;
    text-align: justify;
    padding: 2%;
    background-color: var(--Very-dark-blue);
}

.new hr {
    color: var(--Dark-gray-blue);
    justify-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
    border: 0;
    border-top: 1px solid var(--Dark-gray-blue);
    border-bottom: 1px solid var(--Dark-gray-blue);
    height: 0;
}

.new h1 {
    color: var(--orange);
    font-size: 40px;
}

.new h3 {
    margin-top: 10%;
    margin-bottom: 2%;
    color: var(--white);
}

.new p {
    line-height: 150%;
    font-size: 15px;
    font-weight: 700;
    color: var(--Dark-gray-blue);
}

.new h3 a {
    color: var(--white);
}

.new a:hover {
    color: var(--orange);
}

.Pimg {
    margin-bottom: 5%;
    margin-top: 5%;
}

.box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.box img {
    width: 30%;
}

.box h1 {
    font-weight: 800;
    font-size: 30px;
    color: var(--Gray-blue);
}

.box p {
    color: var(--Gray-blue);
}

.img1 {
    width: 50%;
    height: 80%;
    display: flex;
}

.img2 {
    width: 50%;
    height: 80%;
    display: flex;
}

.img3 {
    width: 50%;
    height: 80%;
    display: flex;
}

.text {
    width: 60%;
    margin-left: 5%;
    margin-right: 10%;
    font-family: var(--letras);
}

.text p {
    line-height: 150%;
    font-weight: 400;
    font-size: 15px;
}

.text h3 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.text h3 a {
    font-family: var(--letras);
    font-weight: 800;
    font-size: 17px;
    color: var(--Very-dark-blue);
}

.text h3 a:hover {
    color: var(--red);
}

.text a {
    list-style: none;
}

@media only screen and (min-width: 375px) and (max-width: 499px) {
 

    .button{
        width: auto;
        height: 0%;
        margin-top: 2%;
        display: block;
    }


    .general {
        width: auto;
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .content {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .conten1 {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .parrafo {
        margin-top: 4%;
        display: flex;
        flex-direction: column;
        gap: 5%;
    }

    .p1 {
        width: auto;
        font-family: var(--letras);
        font-weight: 800;
        font-size: 40px;
    }

    .p2 {
        width: auto;
        height: auto;
        margin-top: 4%;
        text-align: left;
        font-size: 15px;
    }

    .p2 p {
        font-weight: 400;
        font-size: 15px;
        line-height: 150%;
        color: var(--Dark-gray-blue);
    }

    .ButtonR a {
        color: var(--white);
        background-color: var(--red);
        text-align: center;
        width: 50%;
        height: 45px;
        margin-top: 8%;
        display: grid;
        place-items: center;
        font-family: var(--letras);
        letter-spacing: 2px;
        font-size: 15px;
    }

    .ButtonR a:hover {
        color: var(--white);
        width: 50%;
        height: 45px;
        text-align: center;
        display: grid;
        place-items: center;
        background-color: var(--Very-dark-blue);
    }

    .imgP {
        width: 100%;
        height: 300px;
        margin-top: 5%;
        overflow: hidden;
    }

    .imgP img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    .new {
        margin-top: 20%;
        margin-left: 0%;
        margin-right: 0%;
        text-align: justify;
        padding: 2%;
        background-color: var(--Very-dark-blue);
    }

    .new hr {
        color: var(--Dark-gray-blue);
        justify-items: center;
        margin-top: 10%;
        margin-bottom: 10%;
        border: 0;
        border-top: 1px solid var(--Dark-gray-blue);
        border-bottom: 1px solid var(--Dark-gray-blue);
        height: 0;
    }

    .new h1 {
        color: var(--orange);
        font-size: 40px;
    }

    .new h3 {
        margin-top: 10%;
        margin-bottom: 2%;
        color: var(--white);
    }

    .new p {
        line-height: 150%;
        font-size: 15px;
        font-weight: 700;
        color: var(--Dark-gray-blue);
    }

    .new h3 a {
        color: var(--white);
    }

    .new a:hover {
        color: var(--orange);
    }




    .Pimg {
        width: auto;
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .box {
        display: flex;
        flex-direction: column;
        margin-left: 3%;
        margin-right: 3%;
        gap: 30px;
    }

    .box img {
        width: 25%;
    }

    .box h1 {
        font-weight: 800;
        font-size: 30px;
        color: var(--Gray-blue);
    }

    .box p {
        color: var(--Gray-blue);
    }

    .img1 {
        width: 100%;
        height: 70%;
        display: flex;
    }

    .img2 {
        width: 100%;
        height: 70%;
        display: flex;
    }

    .img3 {
        width: 100%;
        height: 70%;
        display: flex;
    }

    .text {
        width: 70%;
        margin-left: 5%;
        margin-right: 0%;
        font-family: var(--letras);
    }

    .text p {
        line-height: 150%;
        font-weight: 400;
        font-size: 15px;
    }

    .text h3 {
        margin-top: 3%;
        margin-bottom: 3%;
    }

    .text h3 a {
        font-family: var(--letras);
        font-weight: 800;
        font-size: 17px;
        color: var(--Very-dark-blue);
    }

    .text h3 a:hover {
        color: var(--red);
    }

    .text a {
        list-style: none;
    }

    div.menu{
        display: none;
        visibility: hidden;
    }

    div.menu.activo{
        display: block;
        visibility: visible;
    }


    .menu{
        position: absolute;
        left: 40%;
    }

    .menu{
        margin-top: 10%;
        padding-top: 3%;
        width: 100%;
        height: 75%;
        display: flex;
        flex-direction: column;
        background-color: var(--white);
    }

    .menu,
    li {
        display: flex;
        justify-content: left;
        line-height: 350%;
        margin-left: 20px;
        font-size: 15px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .menu ul{
        margin-top: 15%;
    }

  


}